checker/*
*.o
feed
friends
posts
.gitignore
.vscode
.checkpatch-camelcase.git.
out.txt
checker/input/01-feed.in
checker/input/01-friends.in
checker/input/01-posts.in
checker/input/02-feed.in
checker/input/02-friends.in
checker/input/02-posts.in
checker/input/03-feed.in
checker/input/03-friends.in
checker/input/03-posts.in
checker/input/04-feed.in
checker/input/04-friends.in
checker/input/04-posts.in
checker/input/05-feed.in
checker/input/05-friends.in
checker/input/05-posts.in
checker/input/06-feed.in
checker/input/06-friends.in
checker/input/06-posts.in
checker/input/07-feed.in
checker/input/07-friends.in
checker/input/07-posts.in
checker/input/08-feed.in
checker/input/08-friends.in
checker/input/08-posts.in
checker/input/09-feed.in
checker/input/09-friends.in
checker/input/09-posts.in
checker/ref/01-feed.ref
checker/ref/01-friends.ref
checker/ref/01-posts.ref
checker/ref/02-feed.ref
checker/ref/02-friends.ref
checker/ref/02-posts.ref
checker/ref/03-feed.ref
checker/ref/03-friends.ref
checker/ref/03-posts.ref
checker/ref/04-feed.ref
checker/ref/04-friends.ref
checker/ref/04-posts.ref
checker/ref/05-feed.ref
checker/ref/05-friends.ref
checker/ref/05-posts.ref
checker/ref/06-feed.ref
checker/ref/06-friends.ref
checker/ref/06-posts.ref
checker/ref/07-feed.ref
checker/ref/07-friends.ref
checker/ref/07-posts.ref
checker/ref/08-feed.ref
checker/ref/08-friends.ref
checker/ref/08-posts.ref
checker/ref/09-feed.ref
checker/ref/09-friends.ref
checker/ref/09-posts.ref
.gitignore
